@import '~variables'

.docs-input
  .q-if, .q-field, .q-uploader
    margin 16px 0
  .q-field, .q-uploader
    .q-if
      margin 0
  .q-field .q-uploader
    margin 0
  .caption:not(:first-child)
    margin-top 40px
  .dark-example
    padding 5px 15px 15px
    box-shadow $shadow-2
    border-radius 2px
