@import '~variables'

.docs-input
  .q-if, .q-field
    margin 16px 0
  .q-field .q-if
    margin 0
  .caption:not(:first-child)
    margin-top 40px
  .dark-example
    color white
    background $grey-9
    padding 5px 15px 15px
    box-shadow $shadow-2
    border-radius 2px
